{{ partial "header" . }}
<style>
  #tagshow {margin-left: 20px; font-size: 23pt; text-align: left; color: #06AEFF;}
</style>
</head>
{{ partial "nav" . }}
<main>
  <section id="game">
    <h2 id="tagshow">全てのゲーム一覧</h2>
    <div id="product_wrap">
      {{ $paginator := .Paginate (where .Data.Pages "Params.hidden" "ne" true) }}
      {{ range sort .Paginator.Pages }}
        <div class="product">
          <a href="{{ .Permalink }}">
              <img src="{{ if .Params.imgUrl }}{{ .Params.imgUrl }}{{else}}{{ end }}" alt="">
              <h3 class="meta">{{ .Title }}</h3>
              <p class="meta">{{ .Description }}</p>
          </a>
        </div>
      {{ end }}
      </div>
    </div>  
  </section>
</main>
{{ partial "footer" . }}
</body>
</html>