@font-face {
  font-family: "SP_UI";
  src: url("/fonts/SP_UI.woff2") format("woff2"),
       url("/fonts/SP_UI.woff") format("woff");
}
h1, h2, h3, p, a, ul, li {font-family: "M PLUS 1p", "源真ゴシック", "Helvetica Neue",Helvetica,Arial, YuGothic, 'Yu Gothic', 游ゴシック体, '游ゴシック', "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ", Meiryo,"MS ゴシック","MS Gothic",sans-serif;}
html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}
.none {display: none;}
header {
  width: calc(100vw - 20px);
  height: 50px;
  line-height: 50px;
  padding: 5px 0;
  text-align: right;
  padding-right: 20px;
  position: fixed;
  z-index: 9999;
  top: 0; left: 0;
  background-color: rgba(255, 255, 255, 0.8)
}
header a {
  font-family: "SP_UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20pt; color: #06AEFF; text-decoration: none;
}
header img {
  width: auto;
  height: 50%;
  position: absolute;
  left: 10px; top: 50%;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
}
header .sp_under {
  display: none;
}

footer {
  height: 60px;
  text-align: center;
}
footer p,
footer a {
  line-height: 30px;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  width: 100vw;
  margin: 0;
  min-height: calc(100% - 120px);
}
main.mt {
  margin-top: 70px;
}
main img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
section#top_image {
  width: 100vw;
  height: 300px;
  position: relative;
}
section#top_image img {
  width: auto;
  height: 50px;
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform : translate(-50%, -50%);
  transform : translate(-50%, -50%);
}
main section h2 {
  text-align: center;
  font-family: "SP_UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45pt; color: #06AEFF;
}

.bg_img {
  width: 100vw;
  background-image: 
    /* 1枚目の背景画像のパス */
    url(/img/haikei_l.png),
    /* 2枚目の背景画像のパス */
    url(/img/haikei_r.png);

  background-position:
    /* 1枚目の背景画像の表示位置 */
    left 0px center,
    /* 2枚目の背景画像の表示位置 */
    right 0px center;

  background-repeat:
    /* 1枚目の背景画像の設定 */
    no-repeat,
    /* 2枚目の背景画像の設定 */
    no-repeat;

  background-size:
    /* 1、2枚目の背景画像の共通サイズ */
    100px;
}
.bg_img img {
  width: 80%;
  height: auto;
}
.wrap {display: block; margin: 0 auto; position: relative;}

section {
  max-width: 100%;
}

section#game,
section#about,
section#info,
section#link {
  padding-top: 70px;
}
section#game,
section#about {
  min-height: 70vh;
}
section#info,
section#link {
  min-height: 35vh;
}

p {
  max-width: 100%;
  word-wrap: break-word;
}

/* -------------- game -------------- */
section#game .product .p_link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #121212;
}
section#game .product{
  width: calc(100% - 20px);
  margin: 10px;
  color: #000;
}
section#game a img {
  width: 100%;
}
section#game a .meta {
  padding-left: 5px;
}
/* -------------- game -------------- */

/* -------------- about -------------- */
section#about div#about_wrap {
  display: block;
  width: 90%; min-height: 30vw; margin: 30px auto;
  position: relative;
}
section#about div#about_wrap div#a_face_img_wrap {
  width: 40%;
  height: auto;
  display: block;
  margin: 5px auto;
}
section#about div#about_wrap div#a_face_img_wrap img {
  width: 100%;
}
section#about div#about_wrap div#a_data {
  text-align: center;
} 
section#about p#a_name{
  font-family: "SP_UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px; color: #06AEFF;
}
/* -------------- about -------------- */

/* -------------- info -------------- */
section#info #info_wrap a {
  text-align: center;
  font-size: 12pt;
  text-decoration: none;
  color: #000;
}
/* -------------- info -------------- */

/* -------------- link -------------- */
section#link #link_wrap {
  display: flex;
  flex-wrap: wrap;
}
section#link .links{
  font-family: "SP_UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  display: block;
  width: calc(50% - 40px);
  text-align: center;
  text-decoration: none;
  font-size: 18pt;
  line-height: 50px;
  margin: 5px auto;
  padding: 10px;
  height: 50px;
}
section#link .links#twitter_link span.link_no_show{
  display: block;
  overflow: hidden;
  height: 0px;
  width: 100%;
  transition: ease-out .25s;
  position: absolute; bottom: 0; left: 0;
}

section#link .links#twitter_link{background-color: #0092EC; position: relative; bottom: 0; left: 0px;}
section#link .links#twitter_link:hover span.link_no_show {height: 100%; line-height: 70px; width: 100%; background-color: rgba(0, 0, 0, 0.6); transition: ease-out .25s; font-size: 16pt;}
section#link .links#github_link{background-color: #000;}
section#link .links#youtube_link{background-color: #c4302b;}
section#link .links.other_link{background-color: #57BD57;}

section#link #mailwrap {
  text-align: center;
  margin: 10px 0;
}
section#link #mail {
  font-size: 16pt;
  font-family: "SP_UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section#link #mail_sub {
  max-width: 80%;
  font-size: 10pt;
  margin: 2px auto;
}
/* -------------- link -------------- */

@media screen and (min-width: 560px) {
  header .sp_under {
    display: block;
  }
  section#top_image img {
    height: 70px;
  }
  /* -------------- game -------------- */
  section#game #product_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: calc(960px - 96px);
  }
  section#game .product {
    display: block;
    width: calc(47% - 10px);
    margin: 0 auto;
  }
  /* -------------- game -------------- */
}

@media screen and (min-width: 960px) {
  /* -------------- game -------------- */
  section#game .product {
    display: block;
    width: calc(30% - 10px);
    margin: 10px;
  }
  /* -------------- game -------------- */

  /* -------------- about -------------- */
  section#about div#about_wrap {
    margin: 30px auto;
  }
  section#about div#about_wrap div#a_face_img_wrap {
      width: 30%;
      height: auto;
      display: block;
      margin: 5px 0% 5px 10%;
  }
  section#about div#about_wrap div#a_face_img_wrap img {
      width: 30%;
      height: auto;
      position: absolute;
      margin: 0;
      top: 50%;
      -webkit-transform : translateY(-50%);
      transform : translateY(-50%);
  }
  section#about div#about_wrap div#a_data {
      width: 50%;
      height: auto;
      margin-left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform : translateY(-50%);
      transform : translateY(-50%);
      text-align: left;
  } 
  /* -------------- about -------------- */

  /* -------------- info -------------- */
  section#info #info_wrap a {
    text-align: center;
    font-size: 14pt;
    text-decoration: none;
    color: #000;
  }
  /* -------------- info -------------- */

  /* -------------- link -------------- */
  section#link #link_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      width: calc(960px - 96px);
  }
  section#link .links{
      width: 240px;
  }
  /* -------------- link -------------- */
}