{{ partial "header" . }}
<link rel="stylesheet" href="/slick/slick-theme.css" type="text/css">
<link rel="stylesheet" href="/slick/slick.css" type="text/css">
<link rel="stylesheet" href="/css/info.css" type="text/css">
<link rel="stylesheet" href="/css/md.css" type="text/css">
<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/slick/slick.js" type="text/javascript"></script>
</head>
<body>
  {{ partial "nav" . }}
  <main class="md">
    <div id="title_data">
      <div id="title_text">
              <h1>{{ .Title }}</h1>
        <p id="subinfo">
          {{ .Params.series }} | {{ .Date.Format "2006.1.2" }}
        </p>
      </div>
    </div>
      <img src="{{ .Params.imgUrl }}" alt="">
      {{ .Content }}
    </div>
  </main>
    {{ partial "footer" . }}
</body>
</html>
