<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
{{ if eq .IsHome false }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
<title>Soda(そおだ)の公式サイト</title>
{{ end }}
{{ if .Site.Params.Info.enableSocial }}
{{- partial "social/opengraph" . -}}
{{ end }}
<link rel="icon" href="/favicon.ico">
<link rel="apple-touch-icon" type="image/png" href="/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicons/icon-192x192.png">
<meta property='og:type' content='website'>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/smooth.js"></script>
<meta property='og:title' content='Soda(そおだ)の公式サイト'>
<meta property='og:description' content='ゲーム開発者のSoda(そおだ)の公式HPです'>
<meta property='og:url' content='https://example.com'>
<meta property='og:site_name' content='Soda(そおだ)の公式サイト'>
<meta property='og:type' content='
  {{- if .IsPage -}}
    article
  {{- else -}}
    website
  {{- end -}}
'>
<meta name="twitter:description" content="ゲーム開発者のSoda(そおだ)の公式HPです">
<meta name="Keywords" content="">
<meta name="description" content="ゲーム開発者のSoda(そおだ)の公式HPです">
<meta property='og:image' content='https://sodagame.work/{{ .Params.imgUrl }}.png'>
<meta name='twitter:card' content='summary_large_image'>
<meta name='twitter:site' content='@_soda_game'>
<meta name='twitter:creator' content='@_soda_game'>
